<ng-template #menu>
  <a mat-list-item routerLink="/">Description</a>
  <a mat-list-item routerLink="/transactions">Transactions</a>
</ng-template>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isMobile$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <!-- Sidenav content  -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngTemplateOutlet="menu"></ng-container>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mb-4">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isMobile$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a mat-button routerLink="/"> <i><img class="logo" src="https://www.bitladon.pl/img/currency/XTZ_groot.png" height="50" alt=""></i></a>
      </div>

      <!-- Menu content -->
        <mat-nav-list class="menu">
          <div style="display: flex;" *ngIf="!(isMobile$ | async)">
            <ng-container *ngTemplateOutlet="menu"></ng-container>
          </div>
          <a mat-list-item>
            <mat-slide-toggle (change)="onSwitchTheme($event)"></mat-slide-toggle>
          </a>
        </mat-nav-list>
    </mat-toolbar>
    
    <router-outlet></router-outlet>

    <mat-toolbar color="primary" class="footer">
      <span>Tezos Blockchain Viewer | 2021</span>
    </mat-toolbar>
    
  </mat-sidenav-content>
</mat-sidenav-container>
