.example-viewport {
  height: 499px;
  overflow-y: scroll;
}



.header{
  display: flex;
  margin-left: 1rem;
}

mat-card{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.cloud{
  background-color: lightgreen;
  border-radius: 20px;
  float:  left;
  clear: left;
  padding: 0 .5rem;
}

.content {
  background-color: white !important;
}

tr{
  background-color: #F5F5F5;
  font-size: 0.8rem;
}

th{
  font-weight: normal;
}

.example-item-detail {
  height: 18px;
}

.example-alternate {
  background: rgba(127, 127, 127, 0.3);
}