.header{
  display: flex;
  margin-left: 1.5rem;
}

mat-card{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.cloud{
  background-color: lightgreen;
  border-radius: 20px;
  float:  left;
  clear: left;
  padding: .2rem .5rem;
}

tr{
  background-color: #F5F5F5;
  font-size: 0.8rem;
}

td, th{
  padding-left: 1.5rem;
  font-weight: normal;
}

.example-alternate {
  background: white;
}