<div class="container">

  <mat-card class="example-card">
    <div class="header">
      <mat-icon>history</mat-icon>
      <h4 style="margin-left: .5rem;">Recent Transactions</h4>
    </div>
    <mat-card-content>
  
  <cdk-virtual-scroll-viewport [itemSize]="itemSize" [ngStyle]="{'height':(tableLimit+1)*itemSize + 'px'}" (scroll)="onScroll()" #virtualScroll>
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr [ngStyle]="{'height': itemSize + 'px'}">
            <th>Type</th>
            <th>Ammount</th>
            <th>Time</th>
            <th>Adress</th>
          </tr>
        </thead>
        <tbody>
    <tr *cdkVirtualFor="let transaction of transactions$ | async;" [class.example-alternate]="transaction" [ngStyle]="{'height': itemSize +'px'}" > 
      <td> <div class="cloud">{{transaction[2]}}</div></td>
      <td>{{transaction[4]>0? '+':''}} {{transaction[4].toFixed(1)}}  XTZ</td>
      <td>{{transaction[1] | date:'MMM d, y, h:mm'}}</td>
      <td>{{transaction[3] | slice:0:2}}...{{transaction[3] | slice:-5}}</td>

    </tr>

  </tbody>
  </table>
</div>
  </cdk-virtual-scroll-viewport>
    </mat-card-content>
</mat-card>

  
</div>