<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    <!-- Sidenav -->
    <ul style="list-style-type:none; margin-top: 2rem;">
    <li><a mat-button class="active" routerLink="/">Description</a></li>
    <li> <a mat-button class="active" routerLink="/transactions">Transactions</a></li>
  </ul>
  
  
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="navbar" color="primary">
  
      <mat-button-toggle *ngIf='mobile' (click)="opened=!opened"><mat-icon>menu</mat-icon></mat-button-toggle>
      <div>
        <a mat-button routerLink="/transactions" > <i><img src="https://www.bitladon.pl/img/currency/XTZ_groot.png" height="50" alt=""></i> </a>
        <mat-slide-toggle *ngIf='mobile' (change)="onSwitchTheme($event)" ></mat-slide-toggle>
      </div>
      <div *ngIf='!mobile'>
        <span><a mat-button routerLink="/" class="active" >Description</a></span>
        <span><a mat-button routerLink="/transactions" class="active" >Transactions</a></span>
        <mat-slide-toggle (change)="onSwitchTheme($event)" ></mat-slide-toggle>
      </div>  
    </mat-toolbar>

    <router-outlet></router-outlet>
    

  </mat-sidenav-content>
  
</mat-sidenav-container>