$link-color: #FF4136;

.navbar{
  justify-content: space-between;
  padding: 0 2rem;
}

span {
  padding-right: 1rem;
}


a {
  text-decoration: none;
  cursor: pointer;

    &.active {
      opacity: 0.6;
      &:hover {
        color: $link-color;
        font-weight: 900;
      }

      &:focus {
        opacity: 1;
      }
      
  }
}

li{
  margin-top: 2rem;
}

mat-sidenav-content {
  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem;
}

mat-sidenav{
  width: 200px;
}
mat-slide-toggle {
  padding-left: 1rem;
}

.footer{
  font-size: 0.8rem;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}