<div class="container">

  <h1>
    Tezos-blockchain-viewer
  </h1>
  <h3>
    MEAN Stack app to show transaction history from tzstats api with infinite scroll.
  </h3>
   <h3>Usage:</h3>
   <ul >
    <li> <b>yarn dev:</b>Run the client & server with concurrently</li>
    <li> <b>yarn server:</b> Run the Express server only</li>
    <li> <b>ng serve --open</b> Run the client(Angular) only </li>
   </ul>
   Server runs on http://localhost:4000 and client on http://localhost:4200.
   <br>
   To deploy required is connection with tzstats api, <br> then you can create build folder(dist) from root folder with:
    <b>yarn build</b>

    <h2 style="text-align: center; margin-top: 2rem;">Click on 'Transactions' tab menu to see infinite scroll</h2>

</div>